html, body {
  margin:0px;
  height:100%;
  width:100%;
  background-color: lightgrey;
}
 
.App{
  display: flex;
  flex-direction: row;
  align-content: center;
  height:100%;
  width:100%;
  
}


.sideBar{
  display: flex;
  background-color: rgb(41, 41, 41);
  flex-direction: column;
  width:20%;
  height:100%;
  gap:10px;
  position:fixed;

  
}

.side-bar-item{
  align-self: center;
  display: flex;
  font-size: 30px;
  color:white;
  font-weight: bold;
  
  
}
.side-bar-item-focus{
  align-self: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  background-color: darkgray;
  
}

.side-bar-btn{
  display: flex;
  width: 45px;;
  height:45px;
  background-color: #cccccc;
  align-self: flex-start;
}

.side-bar-image{
  align-self:center;
  width: 90%;
  
}

.side-bar-header{
  display: flex;
  color: white;
  align-self: center;
  font-size: 45px;
  font-weight: bolder;
}


.main-section{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:70%;
  gap:40px;
  right:5%;
  position:absolute;
}

.section{
  display: flex;
  align-self: center;
  flex-direction: column;
  gap:40px;
  width: 100%;
}

.section-header{
  display: flex;
  font-size: 35px;
  font-weight: bolder;
  align-self: center;
}
.row-contents{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-evenly;
  color:black;
  width:100%;
}
.skills-image{
  width: 100px;
  height: 100px;
}
.projects-image{
  width: 150px;
  height: 150px;
}
.projects-side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start ;
  align-content: center;
  flex-shrink:100;
  
}
.skills-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:150px;
}
.body-title{
  font-weight: bold;
  font-size: x-large;
}
.contact-icon{
  height:40px;
  width:40px;
}
.contact-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color:black;
  gap:20px;
}
.contact-section{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color:black;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0%;
  width:75%;
}

/*Text fonts*/

.regular-font {
  font-size: 130%;
}

.large-bold-font {
  font-size: xx-large;
}