.website-Header {
  display: flex;
  justify-content: space-between;
  background-color: #32627b;
  flex-direction: column;
  align-items: center;
 
}

.sideBar{
  display: flex;
  background-color: #cccccc;
  flex-direction: column;
  align-items: center;
  left: 0;
  width:150px;
  height:700px;
  
}